* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
body {
    padding-bottom:50px;
    background-color: #e8eafa; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#watch {
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    height: 550px;
    width: 450px;
    margin-top: 60px;
    margin-bottom: 20px;
    box-shadow: 0 20px 50px rgba(98, 141, 234, 0.5); 
}
#watch p {
    font-weight: bold;
    font-size: 32px;
    color: #191c30;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#dis {
    background-color: #000000;
    height: 280px;
    width: 280px;
    font-size: 38px;
    font-family: 'Roboto Mono', monospace; 
    display: flex;
    justify-content: center;
    align-items: center;
    border:5px solid #00ffff;
    color: #00ffff; 
    margin-top: 35px;
    border-radius: 50%;
    box-shadow:0 0 120px rgba(100, 255, 255, 0.6); 
}
#control {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
#control button {
    color: #1a1d32; 
    height: 65px;
    width: 65px;
    margin-left:8px ;
    margin-right:8px ;
    font-size: 25px; 
    font-weight: bold;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.9);
}
#control button:hover {
    cursor: pointer;
    background-color: #cecdcd;
}
.lap-detail {
    color: rgb(208, 212, 215);
    background-color: #191c30;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 8px;
    width:400px;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(100, 255, 255, 0.6);
}